<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Username</title>
  </head>
  <body>
    <h2>Edit this username : <%= user.email %></h2>
    <form method="POST" action="/user/<%= user.id %>?_method=patch">
      <textarea rows="3" cols="30" name="username">
<%= user.username %></textarea
      >
      <br />
      <input type="password" name="password" placeholder="enter password" />
      <!-- if the password was correct then the username will be edit else not -->
      <br />
      <br />
      <button>Edit</button>
    </form>
  </body>
</html>
